{% extends "base.html" %}

{% block title %}Biologia{% endblock %}

{% block content %}
<div class="container">
    <h1>Biologia</h1>
    <p>Bem-vindo à página da turma de Biologia. Acesse os materiais abaixo:</p>
    <ul>
        <li><a href="{{ url_for('plano_de_ensino_biologia') }}">Plano de Ensino</a></li>
        <li><a href="{{ url_for('listas_biologia') }}">Listas</a></li>
        <li><a href="{{ url_for('exercicios_resolvidos_biologia') }}">Exercícios Resolvidos</a></li>
    </ul>
</div>
{% endblock %}