{% extends "base.html" %}

{% block title %}Biologia{% endblock %}

{% block content %}
<div class="container">
    <h1>Biologia</h1>
    <p>Bem-vindo à página da turma de Biologia. Acesse os materiais abaixo:</p>
    <ul>
        <li><a href="/static/ensino/biologia/plano_ensino/">Plano de Ensino</a></li>
        <li><a href="/static/ensino/biologia/listas/">Listas</a></li>
        <li><a href="/static/ensino/biologia/exercicios_resolvidos/">Exercícios Resolvidos</a></li>
    </ul>
</div>
{% endblock %}