{% extends "base.html" %}

{% block title %}Biomedicina/Farmácia{% endblock %}

{% block content %}
<div class="container">
    <h1>Biomedicina/Farmácia</h1>
    <p>Bem-vindo à página da turma de Biomedicina/Farmácia. Acesse os materiais abaixo:</p>
    <ul>
        <li><a href="/static/ensino/biomedicina_farmacia/plano_ensino/">Plano de Ensino</a></li>
        <li><a href="/static/ensino/biomedicina_farmacia/listas/">Listas</a></li>
        <li><a href="/static/ensino/biomedicina_farmacia/exercicios_resolvidos/">Exercícios Resolvidos</a></li>
    </ul>
</div>
{% endblock %}