{% extends "base.html" %}

{% block title %}Fisioterapia{% endblock %}

{% block content %}
<div class="container">
    <h1>Fisioterapia</h1>
    <p>Bem-vindo à página da turma de Fisioterapia. Acesse os materiais abaixo:</p>
    <ul>
        <li><a href="/static/ensino/fisioterapia/plano_ensino/">Plano de Ensino</a></li>
        <li><a href="/static/ensino/fisioterapia/listas/">Listas</a></li>
        <li><a href="/static/ensino/fisioterapia/exercicios_resolvidos/">Exercícios Resolvidos</a></li>
    </ul>
</div>
{% endblock %}