{% extends "base.html" %}

{% block title %}Fisioterapia{% endblock %}

{% block content %}
<div class="container">
    <h1>Fisioterapia</h1>
    <p>Bem-vindo à página da turma de Fisioterapia. Acesse os materiais abaixo:</p>
    <ul>
        <li><a href="{{ url_for('plano_de_ensino_fisioterapia') }}">Plano de Ensino</a></li>
        <li><a href="{{ url_for('listas_fisioterapia') }}">Listas</a></li>
        <li><a href="{{ url_for('exercicios_resolvidos_fisioterapia') }}">Exercícios Resolvidos</a></li>
    </ul>
</div>
{% endblock %}