{% extends "base.html" %}

{% block title %}Terapia Ocupacional{% endblock %}

{% block content %}
<div class="container">
    <h1>Terapia Ocupacional</h1>
    <p>Bem-vindo à página da turma de Terapia Ocupacional. Acesse os materiais abaixo:</p>
    <ul>
        <li><a href="/static/ensino/terapia_ocupacional/plano_ensino/">Plano de Ensino</a></li>
        <li><a href="/static/ensino/terapia_ocupacional/listas/">Listas</a></li>
        <li><a href="/static/ensino/terapia_ocupacional/exercicios_resolvidos/">Exercícios Resolvidos</a></li>
    </ul>
</div>
{% endblock %}