{% extends "base.html" %}

{% block title %}Biomedicina/Farmácia{% endblock %}

{% block content %}
<div class="container">
    <h1>Biomedicina/Farmácia</h1>
    <p>Bem-vindo à página da turma de Biomedicina/Farmácia. Acesse os materiais abaixo:</p>
    <ul>
        <li><a href="{{ url_for('plano_de_ensino_biomedicina_farmacia') }}">Plano de Ensino</a></li>
        <li><a href="{{ url_for('listas_biomedicina_farmacia') }}">Listas</a></li>
        <li><a href="{{ url_for('exercicios_resolvidos_biomedicina_farmacia') }}">Exercícios Resolvidos</a></li>
    </ul>
</div>
{% endblock %}