{% extends "base.html" %}

{% block title %}Listas de Exercícios{% endblock %}

{% block content %}
<div class="container">
    <h1>Listas de Exercícios</h1>
    <p>Conteúdo das listas de exercícios para prática.</p>
    <ul>
        <li><a href="{{ url_for('static', filename='listas/lista1.pdf') }}" target="_blank">Lista 1</a></li>
        <li><a href="{{ url_for('static', filename='listas/lista2.pdf') }}" target="_blank">Lista 2</a></li>
        <li><a href="{{ url_for('static', filename='listas/lista3.pdf') }}" target="_blank">Lista 3</a></li>
        <li><a href="{{ url_for('static', filename='listas/lista4.pdf') }}" target="_blank">Lista 4</a></li>
        <li><a href="{{ url_for('static', filename='listas/lista5.pdf') }}" target="_blank">Lista 5</a></li>
        <li><a href="{{ url_for('static', filename='listas/lista6.pdf') }}" target="_blank">Lista 6</a></li>
        <li><a href="{{ url_for('static', filename='listas/lista7.pdf') }}" target="_blank">Lista 7</a></li>
    </ul>
</div>
{% endblock %}