{% extends "base.html" %}

{% block title %}Sobre{% endblock %}

{% block content %}
<h1>Sobre Jonathan S. Matias</h1>
<img src="/static/IMG_7478.JPG" alt="Jonathan S. Matias" class="about-pic">
<p>Sou professor e pesquisador com formação multidisciplinar em Economia, Matemática, Computação e Estatística. Atualmente, sou Doutor em Estatística pelo ICEX/UFMG, com foco no papel da Estatística em Machine Learning e Inteligência Artificial, aplicados em séries temporais.</p>

<h2>Experiência</h2>
<ul>
    <li><strong>Professor Substituto</strong>, Universidade Federal de Minas Gerais (UFMG), 2023-presente</li>
    <li><strong>Consultor Estatístico</strong>, Multimarcas Consórcios, 2024-presente</li>
    <li><strong>Professor</strong>, Instituto Brasileiro de Mercado de Capitais (IBMEC-MG), 2011-2018</li>
    <li><strong>Economista</strong>, Agência Reguladora de Minas Gerais (ARSAE-MG), 2010-2011</li>
</ul>

<h2>Formação</h2>
<ul>
    <li><strong>Doutorado em Estatística</strong>, ICEX/UFMG, 2020-2024</li>
    <li><strong>Mestrado em Economia</strong>, CAEN/UFC, 2008-2010</li>
    <li><strong>Graduação em Ciências Econômicas</strong>, PUC Minas, 2003-2006</li>
</ul>

<h2>Habilidades</h2>
<ul>
    <li><strong>Linguagens de Programação:</strong> R e Python</li>
    <li><strong>Métodos Estatísticos:</strong> Análise de Séries Temporais, Machine Learning, Inteligência Artificial</li>
    <li><strong>Softwares:</strong> Minitab, Eviews, Stata, SPSS</li>
</ul>

<p>Com ampla experiência em pesquisa, ensino e consultoria, busco integrar métodos estatísticos robustos para resolver problemas complexos e oferecer soluções práticas para diversas indústrias.</p>
{% endblock %}