  
    {% extends "base.html" %}

    {% block title %}Códigos Python{% endblock %}

    {% block content %}
    <h1>Em breve códigos do Python e R serão postados aqui.</h1>
    <p>As linguagems que estarão disponíveis serão:</p>
    <ul>
        <li>Python</li>
        <li>R</li>
    </ul>
    <p>O objetivo aqui será contribuir fortemente com os alunos para que tenham conhecimento sólido em programação e análise computacional de forma que tenham impacto real no campo de Ciência de Dados.</p>
    {% endblock %}