  
    {% extends "base.html" %}

    {% block title %}Códigos Python{% endblock %}

    {% block content %}
    <h1>Aqui estão alguns códigos base para usar com os alunos</h1>
    <p>Aqui serão disponibilizados códigos em linguagem de programação para que os alunos possam ter acesso, estudem e aprendam.</p>
    <p>As linguagems que estarão disponíveis serão:</p>
    <ul>
        <li>Python</li>
        <li>R</li>
        <li>Matlab</li>
        <li>Julia</li>
        <li>C++</li>
    </ul>
    <p>O objetivo aqui será contribuir fortemente com os alunos para que tenham conhecimento sólido em programação e análise computacional de forma que tenham impacto real no campo de Ciência de Dados.</p>
    {% endblock %}