  
    {% extends "base.html" %}

    {% block title %}Códigos Python{% endblock %}

    {% block content %}
    <h1>Aqui serão postados alguns códigos para usar em sala de aula com os alunos. Códigos estes usados nas consultorias e prática.</h1>
    <p>As linguagems que estarão disponíveis serão:</p>
    <ul>
        <li>Python</li>
        <li>R</li>
        <li>Matlab</li>
        <li>Julia</li>
        <li>C++</li>
    </ul>
    <p>O objetivo aqui será contribuir fortemente com os alunos para que tenham conhecimento sólido em programação e análise computacional de forma que tenham impacto real no campo de Ciência de Dados.</p>
    {% endblock %}