{% extends "base.html" %}

{% block title %}Vídeos{% endblock %}

{% block content %}
<div class="container">
    <p>Aqui estão alguns vídeos sobre aulas ministradas:</p>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=PzUG0S0vcNs" target="_blank">Aula 1: Teorema de Bayes</a></li>
        <li><a href="https://www.youtube.com/watch?v=bLutJ9Q8rN4" target="_blank">Aula 2: Probabilidade e Teorema de Bayes</a></li>
        <li><a href="https://www.youtube.com/watch?v=bLutJ9Q8rN4" target="_blank">Aula 3: Tabela de Distribuição de Frequências e suas medidas</a></li>
    </ul>
</div>
{% endblock %}