{% extends "base.html" %}

{% block title %}Vídeos{% endblock %}

{% block content %}
<div class="container">
    <h1>Minhas Vídeos de Aulas</h1>
    <p>Aqui estão alguns vídeos que preparei sobre Estatística e Ciência de Dados:</p>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=PzUG0S0vcNs" target="_blank">Aula 1: Teorema de Bayes</a></li>
        <li><a href="https://www.youtube.com/watch?v=bLutJ9Q8rN4" target="_blank">Aula 2: Probabilidade e Teorema de Bayes</a></li>
    </ul>
</div>
{% endblock %}