{% extends "base.html" %}

{% block title %}Vídeos{% endblock %}

{% block content %}
<div class="container">
    <p>Aqui estão alguns vídeos sobre aulas ministradas:</p>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=PzUG0S0vcNs" target="_blank">Aula 1: Teorema de Bayes</a></li>
        <li><a href="https://www.youtube.com/watch?v=bLutJ9Q8rN4" target="_blank">Aula 2: Probabilidade e Teorema de Bayes</a></li>
        <li><a href="https://www.youtube.com/watch?v=0ZlaWvvkU5E" target="_blank">Aula 3: Tabela de Distribuição de Frequências e suas medidas</a></li>
        <li><a href="https://www.youtube.com/watch?v=PTv8Xlp41KU" target="_blank">Aula 4: Distribuições contínuas e a Distribuição Normal</a></li>
        <li><a href="https://www.youtube.com/watch?v=XSg9wlSJDg8" target="_blank">Aula 5: Aula de dúvidas - Distribuição Normal, Intervalo de confianças e Teste de Hipóteses</a></li>
        <li><a href="https://www.youtube.com/watch?v=dagrUZH5Qdo" target="_blank">Aula 6: Teste de Hipóteses</a></li>
        <li><a href="https://www.youtube.com/watch?v=0TdAaHsniKk" target="_blank">Aula 7: Aula de revisão - Tabela de Distribuição de Frequências</a></li>
        <li><a href="https://www.youtube.com/watch?v=JYjKY_Mrt60" target="_blank">Aula 8: Introdução à Probabilidade e Probabilidade Condicional</a></li>
        <li><a href="https://www.youtube.com/watch?v=vamTsPBPQR4" target="_blank">Aula 9: Teorema da Probabilidade Total e Teorema de Bayes</a></li>
        <li><a href="https://www.youtube.com/watch?v=nRau0c4bDbY" target="_blank">Aula 10: Exercícios e Dúvidas - Estatística I</a></li>
        <li><a href="https://www.youtube.com/watch?v=255HqqkKn3A" target="_blank">Aula 11: Exercícios e Dúvidas 2 - Estatística I</a></li>
        <li><a href="https://www.youtube.com/watch?v=GIwYeBqhnlY" target="_blank">Aula 12: Introdução à Inferência </a></li>
    </ul>
</div>
{% endblock %}